.banner {
	padding: 40px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url('https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
	background-position: right;
	background-size: cover;
	position: relative;

	&-presentacion {
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		min-height: 80vh;
		h1 {
			font-size: 3rem;
		}
	}
	&-img {
		$tamaño: 250px;
		margin: 10px 0;
		width: $tamaño;
		height: $tamaño;
		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		object-fit: cover;
		object-position: center;
	}
}

@media (min-width: 768px) {
	.banner {
		&-presentacion {
			flex-direction: row;
		}
		&-img {
			margin-right: 30px;
		}
	}
}
