---
import CardSkills from '../CardSkills.astro';
import Container from '../Container.astro';
import Grid from '../Grid.astro';
import Title from '../Title.astro';

import { skillData } from './../../data/skills';
---

<Container className='my-5' id='about'>
	<Title title='Sobre Mi' />
	<div class='row pb-5'>
		<section class='col-12 col-lg-6 my-lg-2 mb-5'>
			<h3>Soy...</h3>
			<div>
				<p>
					Me llamo <span class='fs-5 fst-italic text-black'> José Lorenzo Canovas</span>, naci en Argentina, en la
					capital de Cordoba.
				</p>
				<p>
					Desde hace tiempo me habia llamado la atencion la programacion, pero nunca iniciaba a aprender ya que lo veia
					muy complicado. <br />
					Tras la pandemia pense que seria interesante echarle un vistazo y me ha somprendido bastante ya que es diferente
					de lo que se muestra en las peliculas o series. Le he agarrado bastante gusto a esta, asi que planeo seguir aprendiendo
					y profesionalizarme en la area de programacion.
				</p>
			</div>
			<h3>Me gustaria...</h3>
			<div>
				<p>
					Profundizar mas en los lenguajes con los cuales estoy familiarizado como Javascript, Typescript y PHP; y en
					sus respectivas herramientas (librerias y frameworks que utilizo).
				</p>
				<p>
					Aprender tecnologias como Next.js, Angular, Laravel (Aprendiendo acualmente). Y otros lenguajes de
					programacion que me llamaron la atencion como Python, C#.
				</p>
				<p>Mejorar más en mi ingles (cosa que trato de hacer de forma diaria).</p>
			</div>
		</section>
		<section class='col-12 col-lg-6'>
			<h3 class='text-center mb-4'>Tecnologias con la cual estoy familiarizado</h3>
			<Grid>
				{
					skillData.map((skill) => (
						<CardSkills {...skill}>
							<Fragment set:html={skill.icon} />
						</CardSkills>
					))
				}
			</Grid>
		</section>
	</div>
</Container>
