---
import FiguraCorte from '../FiguraCorte.astro';
import Container from '../Container.astro';
import Hero from '../Hero.astro';
---

<Hero
	imgUrl={'https://images.unsplash.com/photo-1542903660-eedba2cda473?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80'}
>
	<Container className='my-auto banner' id='banner'>
		<div class='banner-presentacion'>
			<img class='banner-img' src='img/foto_fondo.png' alt='foto de perfil' />
			<div class='banner-text'>
				<h1>Hola!! Soy Lorenzo</h1>
				<p>Desarrollador Web, <span class='text-bold'>bienvenido a mi portafolio</span></p>
				<div>
					<a class='btn btn-outline-light' href='https://github.com/JuppLCD' target='_blank' role='button'
						>Mi GitHub <i class='fa-brands fa-github'></i></a
					>
					<a
						class='btn btn-primary ms-1'
						href='https://www.linkedin.com/in/lorenzo-canovas-desarrollador-web/'
						target='_blank'
						role='button'>Mi LinkedIn <i class='fa-brands fa-linkedin'></i></a
					>
				</div>
			</div>
		</div>
	</Container>
	<FiguraCorte position={'bot'} />
</Hero>

<style lang='scss'>
	.banner {
		&-presentacion {
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			min-height: 80vh;
			h1 {
				font-size: 3rem;
			}
		}
		&-img {
			$tamaño: 250px;

			margin: 10px 0;
			width: $tamaño;
			height: $tamaño;
			-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			object-fit: cover;
			object-position: center;
		}
	}

	@media (min-width: 768px) {
		.banner {
			&-presentacion {
				flex-direction: row;
			}
			&-img {
				margin-right: 30px;
			}
		}
	}
</style>
