---
import Layout from "../layouts/Layout.astro";

import About from "../components/Sections/About.astro";
import Banner from "../components/Sections/Banner.astro";
import Portafolio from "../components/Sections/Portafolio.astro";
---

<Layout title="Lorenzo Canovas | Portafolio 2022">
	<main>
		<Banner/>
		<About/>
		<Portafolio/>
	</main>
</Layout>


