<div class="grid">
    <slot />
</div>
<style lang="scss" >
    .grid {
        display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}
    @media (min-width: 576px) {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
}
    @media (min-width: 992px) {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
</style>