<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-lg">
            <a class="navbar-brand" href="index.html"
                ><span class="text-warning">&#60;</span> Lorenz <span class="text-warning">/&#62;</span></a
            >
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#banner">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Sobre Mi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portafolio">Portafolio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>